@model AspnetCoreMvcFull.Models.Smstext


@{
	ViewData["Title"] = "Create Sms";
}
@section VendorStyles {

	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

	<link rel="stylesheet" href="~/vendor/libs/quill/typography.css" />
	<link rel="stylesheet" href="~/vendor/libs/quill/katex.css" />
	<link rel="stylesheet" href="~/vendor/libs/quill/editor.css" />
	<style>
		*,
		*:after,
		*:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		body {
			font-family: arial;
			font-size: 16px;
			margin: 0;
			background: #fff;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}

		.container {
			max-width: 1100px;
			width: 100%;
		}
	</style>
}
@section VendorScripts {
	<script src="~/vendor/libs/cleavejs/cleave.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/vendor/libs/quill/katex.js"></script>
	<script src="~/vendor/libs/quill/quill.js"></script>
}
@section PageScripts {
	@* <script src="~/js/form-layouts.js"></script> *@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
	<script src="~/js/forms-editors.js"></script>


	<script>
		$(document).ready(function () {
			$('#example').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});

			// Handle row selection
			$('#example tbody').on('change', '.row-checkbox', function () {
				$(this).closest('tr').toggleClass('selected');
			});
		});
	</script>

	<script>
		function validateForm() {
			// Get all checkboxes
			var checkboxes = document.querySelectorAll('.row-checkbox');

			// Check if at least one checkbox is checked
			var isChecked = false;
			checkboxes.forEach(function (checkbox) {
				if (checkbox.checked) {
					isChecked = true;
				}
			});

			// If no checkbox is checked, display an alert and prevent form submission
			if (!isChecked) {
				alert('Please select at least one user.');
				return false; // Prevent form submission
			}

			return true; // Allow form submission
		}
	</script>

	<script>
		function submitForm() {
			// Get form data
			var subject = document.getElementById('smsForm').querySelector('[name="Subject"]').value;
			var body = document.getElementById('snow-editor').innerHTML
			var users = []; // Assuming you want to fetch the list of users from somewhere
			$('.row-checkbox:checked').each(function () {
				users.push($(this).val());
			});
			console.log(subject);
			console.log(body);
			console.log(users);

			// return false;


			// Get all checkboxes
			var checkboxes = document.querySelectorAll('.row-checkbox');

			// Check if at least one checkbox is checked
			var isChecked = false;
			checkboxes.forEach(function (checkbox) {
				if (checkbox.checked) {
					isChecked = true;
				}
			});

			// If no checkbox is checked, display an alert and prevent form submission
			if (!isChecked) {
				alert('Please select at least one user.');
				return false; // Prevent form submission
			}



			var data = { subject: subject, body: body, selectedIds: users };
			// var data = { subject: subject, body: body, selectedIds: users };

			$.ajax({
				type: "POST",
				url: "/Dashboards/SmsCreate",
				contentType: "application/json",
				data: JSON.stringify(data),
				success: function (response) {
					// alert('Form submitted successfully!');
					// Handle response if needed
					window.location.href = '/Dashboards/Sms';
				},
				error: function (xhr, status, error) {
					alert('Error occurred while submitting form! ' + error);
					console.log("Error occurred while submitting form! " + error);
					// Handle error if needed
				}
			});

			return false; // Prevent default form submission
		}
	</script>

	<script>
		// JavaScript function to handle "Use" button click event
		function FetchSubAndSms() {
			// Clear the input fields
			document.getElementById('sms-subject').value = '';
			document.getElementById('sms-body').value = '';

			// Get the parent accordion item of the clicked button
			var accordionItem = event.target.closest('.accordion-item');

			// Find the subject and SMS elements within the accordion item
			var subjectElement = accordionItem.querySelector('.accordion-header button').innerText;
			var smsElement = accordionItem.querySelector('.accordion-body').innerText;

			// Log the subject and SMS content to the console
			console.log("Subject: ", subjectElement);
			console.log("SMS: ", smsElement);

			// Set the fetched subject and SMS content in the respective input fields
			document.getElementById('sms-subject').value = subjectElement.trim();
			document.getElementById('sms-body').value = smsElement.trim();
		}
	</script>

}

<h4 class="py-3 mb-4">
	<button class="dt-button add-new btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#fullscreenModal">See Templates</button>
</h4>


@* ************** Content ************** *@
<!-- Basic Layout & Basic with Icons -->
<div class="row">
	<!-- Basic Layout -->
	<div class="col-xxl">
		<div class="card mb-4">
			<div class="card-header d-flex align-items-center justify-content-between">
				<h5 class="mb-0">Mark bulk Sms</h5>
			</div>
			<div class="card-body">
				<form id="smsForm" asp-action="SmsCreate" method="post" onsubmit="return submitForm()">
					<div asp-validation-summary="All" class="text-danger"></div>

					<div class="row mb-3">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="emailtext">Email Subject</label>
							<div class="col-sm-10">
								<input id="sms-subject" type="text" class="form-control" required  asp-for="Subject" placeholder="Enter Sms Subject" />
							</div>
						</div>

						@* <div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="emailtext">Sms Text</label>
							<div class="col-sm-10">
								<input id="sms-body" type="text" required class="form-control" asp-for="Sms" placeholder="Enter Sms body" />
							</div>
						</div> *@

						<div class="col-12">
							<div class="card mb-4">
								<h5 class="card-header">Snow Theme</h5>
								<div class="card-body">
									<div id="snow-toolbar">
										<span class="ql-formats">
											<select class="ql-font"></select>
											<select class="ql-size"></select>
										</span>
										<span class="ql-formats">
											<button class="ql-bold"></button>
											<button class="ql-italic"></button>
											<button class="ql-underline"></button>
											<button class="ql-strike"></button>
										</span>
										<span class="ql-formats">
											<select class="ql-color"></select>
											<select class="ql-background"></select>
										</span>
										<span class="ql-formats">
											<button class="ql-script" value="sub"></button>
											<button class="ql-script" value="super"></button>
										</span>
										<span class="ql-formats">
											<button class="ql-header" value="1"></button>
											<button class="ql-header" value="2"></button>
											<button class="ql-blockquote"></button>
											<button class="ql-code-block"></button>
										</span>
									</div>
									<div id="snow-editor">
										We're here to help! <b>Have a question or feedback?</b> Reach out to us anytime via email at [Your Email Address] or by phone at [Your Phone Number]. We're ready to assist you!
									</div>
								</div>
							</div>
						</div>

						<table id="example" class="display nowrap" style="width:100%">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Passport</th>
									<th>Cnic</th>
								</tr>
							</thead>
							<tbody>
								@if (ViewBag.acc != null)
								{
									@foreach (var x in ViewBag.acc as List<Account>)
									{
										<tr id="@x.Accountid">
											<td><input type="checkbox" class="row-checkbox" name="selectedIds[]" value="@x.Accountid"></td>
											<td>@x.CustomerIdFk</td>
											<td>@x.Customeracnumber</td>
											<td>@x.Overdueamount</td>
											<td>@x.Lastpayment</td>
											<td>@x.Lastpaymentdate</td>
										</tr>
									}
								}
								else
								{
									<span>No users available</span>
								}

							</tbody>
							<tfoot>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Passport</th>
									<th>Cnic</th>
								</tr>
							</tfoot>
						</table>


						<div class="row justify-content-end">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">Mark</button>
							</div>
						</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
          <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalFullTitle">Sms Templates</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
					  @if (ViewBag.list != null && ViewBag.list.Count > 0)
					{
						var count = 1;
						@foreach (var y in ViewBag.list as List<Smstext>)
						{
							<div class="accordion mt-3 col-3" id="accordionWithIcon-@count">
								<div class="card accordion-item">
									<h2 class="accordion-header d-flex align-items-center">
										<button style="border: 1px solid black;" type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionWithIcon-@(y.SmsTextId)" aria-expanded="false">
											<i class="ti ti-star ti-xs me-2"></i>
											@y.Subject
										</button>
									</h2>

									<div id="accordionWithIcon-@(y.SmsTextId)" class="accordion-collapse collapse">
										<hr/>
										<div class="accordion-body">
											<button class="btn btn-primary w-100" style="text-align:center;" onclick="FetchSubAndSms()" data-bs-dismiss="modal"><b>Use</b></button>
										<hr/>
											@y.Sms
										</div>
									</div>
								</div>
							</div>
							count++;
						}
					}
					else
					{
						<center><b>No Template...</b></center>
					}
				</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                  @* <button type="button" class="btn btn-primary">Save changes</button> *@
                </div>
              </div>
            </div>
          </div>
