@model List<Smsacc>

@{
	ViewData["Title"] = "Sms-Detail";
}
@section VendorStyles {

	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

	<style>
		*,
		*:after,
		*:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		body {
			font-family: arial;
			font-size: 16px;
			margin: 0;
			background: #fff;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}

		.container {
			max-width: 1100px;
			width: 100%;
		}
	</style>
}
@section VendorScripts {
	<script src="~/vendor/libs/cleavejs/cleave.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
}
@section PageScripts {
	@* <script src="~/js/form-layouts.js"></script> *@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#example').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});

			// Handle row selection
			// $('#example tbody').on('change', '.row-checkbox', function () {
			// 	$(this).closest('tr').toggleClass('selected');
			// });

			// Print selected row IDs when clicking the button
			// $('#print-button').on('click', function () {
			//     var selectedRowIDs = [];
			//     $('#example tbody tr.selected').each(function () {
			//         var rowID = $(this).attr('id'); // Assuming each row has a unique ID
			//         selectedRowIDs.push(rowID);
			//     });
			//     // Print selected row IDs
			//     console.log(selectedRowIDs);
			//     // You can now implement logic to use the selected row IDs as needed
			// });
		});
	</script>
}

<h4 class="py-3 mb-4">
	<span class="text-muted fw-light">Users /</span> Total-@Model.Count
</h4>


<div class="row">
	<pre>
		@Html.Raw(Model[0].SmsIdFkNavigation.Sms)
	</pre>
</div>

<div class="row">
	<table id="example" class="display nowrap" style="width:100%">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Passport</th>
				<th>Cnic</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Count() > 0)
			{
				@foreach (var x in Model)
				{
					<tr id="@x.SmsAccId">
						<td><input type="checkbox" class="row-checkbox" name="selectedIds[]" value="@x.AccountIdFkNavigation.Accountid"></td>
						<td>@x.AccountIdFkNavigation.CustomerIdFk</td>
						<td>@x.AccountIdFkNavigation.Customeracnumber</td>
						<td>@x.AccountIdFkNavigation.Overdueamount</td>
						<td>@x.AccountIdFkNavigation.Lastpayment</td>
						<td>@x.AccountIdFkNavigation.Lastpaymentdate</td>
					</tr>
				}
			}
			else
			{
				<span>No users available</span>
			}

		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Passport</th>
				<th>Cnic</th>
			</tr>
		</tfoot>
	</table>
</div>
