@model AspnetCoreMvcFull.Models.Campaignslistuser


@{
	ViewData["Title"] = "Horizontal Form - Form Layouts";
}
@section VendorStyles {

	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

	<style>
		*,
		*:after,
		*:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		body {
			font-family: arial;
			font-size: 16px;
			margin: 0;
			background: #fff;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}

		.container {
			max-width: 1100px;
			width: 100%;
		}
	</style>
}
@section VendorScripts {
	<script src="~/vendor/libs/cleavejs/cleave.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
}
@section PageScripts {
	@* <script src="~/js/form-layouts.js"></script> *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#example').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});

			// Handle row selection
			$('#example tbody').on('change', '.row-checkbox', function () {
				$(this).closest('tr').toggleClass('selected');
			});

			// Print selected row IDs when clicking the button
			// $('#print-button').on('click', function () {
			//     var selectedRowIDs = [];
			//     $('#example tbody tr.selected').each(function () {
			//         var rowID = $(this).attr('id'); // Assuming each row has a unique ID
			//         selectedRowIDs.push(rowID);
			//     });
			//     // Print selected row IDs
			//     console.log(selectedRowIDs);
			//     // You can now implement logic to use the selected row IDs as needed
			// });
		});
	</script>
}



@* ************** Content ************** *@
<h4 class="py-3 mb-4"><span class="text-muted fw-light">Add/</span>Campaigns List Users</h4>

<!-- Basic Layout & Basic with Icons -->
<div class="row">
	<!-- Basic Layout -->
	<div class="col-xxl">
		<div class="card mb-4">
			<div class="card-header d-flex align-items-center justify-content-between">
				<h5 class="mb-0">Add User(s) To Campaign's List</h5>
			</div>
			<div class="card-body">
				<form asp-action="CampaignsListUsersCreate" method="post">
					<div asp-validation-summary="All" class="text-danger"></div>

					<div class="row mb-3">
						<label class="col-sm-3 col-form-label" for="multicol-country">Campaign Lists</label>
						@* <div class="col-sm-9">
								<!-- Populate the dropdown options from ViewBag.Campaigns -->
							@if (ViewBag.campaignsLists != null)
								{
								<select id="multicol-country" class="select2 form-select" data-allow-clear="true" asp-for="CampaignslistsIdFk" required>
									@foreach (var x in ViewBag.campaignsLists)
									{
										<option value="@x.CampaignslistsId">@x.CampaignslistsName</option>
									}
							</select>
								}
								else
								{
									<span>No campaigns lists available</span>
								}
						</div>
					</div> *@
						<input type="hidden" value="@ViewBag.id" asp-for="CampaignslistsIdFk" />
						@* <div class="row mb-3">
						<label class="col-sm-3 col-form-label" for="multicol-country">Users</label>
						<div class="col-sm-9">
								<!-- Populate the dropdown options from ViewBag.Campaigns -->
								@if (ViewBag.users != null)
								{
								<select id="multicol-country" class="select2 form-select" data-allow-clear="true" asp-for="UserIdFk" required>
									@foreach (var x in ViewBag.users)
									{
										<option value="@x.UserId">@x.UserName (@x.UserId)</option>
									}
							</select>
								}
								else
								{
									<span>No users available</span>
								}
						</div>
					</div> *@

						<table id="example" class="display nowrap" style="width:100%">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Passport</th>
									<th>Cnic</th>
								</tr>
							</thead>
							<tbody>
								@if (ViewBag.users != null)
								{
									@foreach (var x in ViewBag.users)
										{
										<tr id="@x.UserId">
											<td><input type="checkbox" class="row-checkbox" name="selectedIds[]" value="@x.UserId"></td>
											<td>@x.UserId</td>
											<td>@x.UserName</td>
											<td>@x.Gender</td>
											<td>@x.Passport</td>
											<td>@x.Cnicexpiry</td>
										</tr>
										}
								}
								else
								{
									<span>No users available</span>
								}
								
							</tbody>
							<tfoot>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Passport</th>
									<th>Cnic</th>
								</tr>
							</tfoot>
						</table>


					<div class="row justify-content-end">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Add User(s)</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



