@model AspnetCoreMvcFull.Models.User
@{
	ViewData["Title"] = "User List";
}

@section VendorStyles {
	@* <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css"> *@
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
	<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.dataTables.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/select/2.0.0/css/select.dataTables.css">
	<link rel="stylesheet" href="~/vendor/libs/animate-css/animate.css">
}

@section VendorScripts {
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
}

@section PageScripts {
	@* <script src="~/js/app-user-list.js"></script> *@
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.print.min.js"></script>
	<script src="https://cdn.datatables.net/select/2.0.0/js/dataTables.select.js"></script>
	<script src="https://cdn.datatables.net/select/2.0.0/js/select.dataTables.js"></script>
	<script src="~/js/ui-modals.js"></script>

	<script>
		new DataTable('#example', {
			layout: {
				topStart: {
					buttons: [
						'copy',
						'csv',
						'excel',
						'pdf'
					]
				}
			},
			select: true
		});
	</script>
}

@* ************** Content ************** *@
<div class="row g-4 mb-4">
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between">
					<div class="content-left">
						<span>Total Users</span>
						<div class="d-flex align-items-center my-2">
							<h3 class="mb-0 me-2">@(ViewBag.TotalUsers)</h3>
							@* <p class="text-success mb-0">(+29%)</p> *@
						</div>
					</div>
					<div class="avatar">
						<span class="avatar-initial rounded bg-label-primary">
							<i class="ti ti-user ti-sm"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between">
					<div class="content-left">
						<span>Active Users</span>
						<div class="d-flex align-items-center my-2">
							<h3 class="mb-0 me-2">@(ViewBag.ActiveUsers)</h3>
							<p class="text-success mb-0">
								@if (ViewBag.ActiveUsers != null && ViewBag.TotalUsers != null && ViewBag.TotalUsers > 0)
								{
									int activeUsers = (int)ViewBag.ActiveUsers;
									int totalUsers = (int)ViewBag.TotalUsers;
									int percentage = (int)Math.Round((double)activeUsers / totalUsers * 100);
									@Html.Raw("+" + percentage + "%")
								}
							</p>

							@* <p class="text-success mb-0">(+@(ViewBag.ActiveUsers/ViewBag.TotalUsers*100)%)</p> *@
						</div>
					</div>
					<div class="avatar">
						<span class="avatar-initial rounded bg-label-success">
							<i class="ti ti-user-plus ti-sm"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between">
					<div class="content-left">
						<span>Non-Active Users</span>
						<div class="d-flex align-items-center my-2">
							<h3 class="mb-0 me-2">@(ViewBag.NotActiveUsers)</h3>
							@* <p class="text-danger mb-0">(-14%)</p> *@
							<p class="text-danger mb-0">
								@if (ViewBag.NotActiveUsers != null && ViewBag.TotalUsers != null && ViewBag.TotalUsers > 0)
								{
									int nonActiveUsers = (int)ViewBag.NotActiveUsers;
									int totalUsers = (int)ViewBag.TotalUsers;
									int percentage = (int)Math.Round((double)nonActiveUsers / totalUsers * 100);
									@Html.Raw("-" + percentage + "%")
								}
							</p>
						</div>
					</div>
					<div class="avatar">
						<span class="avatar-initial rounded bg-label-danger">
							<i class="ti ti-user-check ti-sm"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Users List Table -->
<div class="card">
	<div class="col-3">
		<button class="dt-button add-new btn btn-primary waves-effect waves-light" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser"><span><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">Add New User</span></span></button>
	</div>
	<table id="example" class="display nowrap" style="width:100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Role</th>
				<th>Dob</th>
				<th>Cnic</th>
				<th>Gender</th>
				<th>CnicExDt</th>
				<th>Passport</th>
				<th>PassportExDt</th>
				<th>Password</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in ViewBag.UserDetail)
			{
				var status = user.Status == 1 ? "Active" : "In-Active";
				<tr>
					<td>@user.UserId</td>
					<td>@user.UserName</td>
					<td>@user.RoleIdFkNavigation.RoleName</td>
					<td>@user.Dob</td>
					<td>@user.Gender</td>
					<td>@user.Cnic</td>
					<td>@user.Cnicexpiry</td>
					<td>@user.Passport</td>
					<td>@user.Passportexpiry</td>
					<td>@user.Password</td>
					<td>@status</td>
					<td>
						<a asp-action="changeStatusUser" asp-route-id="@user.UserId"><button>Chnage</button></a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Role</th>
				<th>Dob</th>
				<th>Cnic</th>
				<th>Gender</th>
				<th>CnicExDt</th>
				<th>Passport</th>
				<th>PassportExDt</th>
				<th>Password</th>
				<th>Status</th>
				<th></th>
			</tr>
		</tfoot>
	</table>
</div>
